<section class="video-sec-area pt-100" id="about">
     <div class="container">
          <div class="row justify-content-start align-items-center">
               <div class="col-lg-6  justify-content-center align-items-center d-flex">
                    <img src="{{serverUrl}}/{{singleRecipeData.recipe_img_path}}" class="col-lg-6  justify-content-center align-items-center d-flex" />
               </div>

               <div class="col-lg-6 video-left">
                    <h4>Krishna</h4>
                    <h1>{{singleRecipeData.recipe_name}}
                    </h1>
                    <p><span>We are here to listen from you deliver exellence</span></p>
                    <p>
                               
                    </p>


                    <h5>Rating</h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
               </div>
          </div>
     </div>
</section>
<!-- End video-sec Area -->

<!-- Start Generic Area -->
<section class="about-generic-area section-gap">
     <div class="container border-top-generic">
          <h3 class="about-title mb-30">Description</h3>
          <div class="row">
               <div class="col-md-12">
                    <div class="img-text">
                         <img  alt="" class="img-fluid float-left mr-20 mb-20">
                         <p>{{singleRecipeData.recipe_description}} </p>
                    </div>
               </div>


          </div>
     </div>
</section>